<form action="{% url 'main:classify_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for name in image_names%}
    <p>{{ name }}</p>
    {% endfor %}
    <br>
    <div class="fieldWrapper">
        <label>Bild Name:</label>
        <br>
        <input type="text" name="imageName">
    </div>
    <br>
    <button type="submit" name="button" value="agent_one">Agent 1 Klassifizierung</button>
    <button type="submit" name="button" value="agent_two">Agent 2 Klassifizierung</button>
</form>