{% extends './base_layout.html' %}
{% block content %}
<h1>What Meme Am I?</h1>
{% load static %}
    <div id="index-top-container">
        <a href="/future"><img src="{% static 'images/right.png' %}" class="responsive"></a>
        <div id="index-top-wrapper" onclick="location.href='/future';">
            <p><strong>What Meme Am I?</strong><br>
                Erfahre hier welchem Meme du ähnlich siehst!
            </p>
        </div>

    </div>
    <div id="index-bottom-container">
        <a href="/submission"><img src="{% static 'images/left.png' %}" class="responsive"></a>
        <div id="index-bottom-wrapper" onclick="location.href='/submission';">
            <p><strong>Random Agent</strong><br>
                Hier erfährst du...nichts.
            </p>
        </div>
    </div>
{% endblock %}