<form action="{% url 'main:random_agent' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3> Classifiy Random Image</h3>
    <div class="fieldWrapper">
        <label>Random Seed:</label>
        <br>
        <input type="number" name="randomSeed" placeholder="default = 1">
    </div>
    <br>
    <button type="submit" name="button" value="random_agent">Random Agent</button>
</form>

<div>
   {% if image_label and guess_label and percentage %}
    <br>
    <span>Result</span>
    <br>
    <span>Bild welches Klassifiziert wurde hat das Label: {{  image_label }}  </span>
    <br>
    <span>Label welches der Agent behauptet hat das Bild: {{  guess_label }}  </span>
    <br>
    <span>Der Agent ist sich zu: {{  percentage }}% sicher, dass das Bild richtig Klassifiziert wurde  </span>
   {% endif %}
</div>