<form action="{% url 'main:random_agent' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% load static %}

    <h3> Classifiy Random Image</h3>
    <div class="fieldWrapper">
        Der Random Agent wählt ein zufälliges Bild aus den Testbeispielen und versucht dieses zu "Klassifizieren" (er wählt eine zufällige Klasse aus).
        Anschließend wird berechnet wie hoch die Wahrscheinlichkeit ist, dass dieser richtig liegt
        <label>Random Seed:</label>
        <br>
        <input type="number" name="randomSeed" placeholder="default = 1">
    </div>
    <br>
    <button type="submit" name="button" value="random_agent">Random Agent</button>
</form>

<div>
   {% if image_label and guess_label and percentage %}
    <table>
        <thead>
            <tr>
                <th>Klassifiziertes Bild.</th>
                <th>Bildbeispiel aus der vorhergesehenen Klasse.</th>
                <th>Agent ist sich zu folgendem Prozentsatz sicher das das Bild richtig klassifiziert worden ist.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="{% static img_classified %}" width="100" height="100">
                </td>
                <td>
                    <img src="{% static img_class_predicted %}" width="100" height="100">
                </td>
                <td>
                    {{  percentage }}%
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>