<div class="flex-box-content box-card-style">
<form action="{% url 'main:classify_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Classify your Image</h3>
    <p>Choose the image for classification:</p>
    <div class="fieldWrapper" id="imageSelector">
        {% if image_names|length != 0 %}
            <select name="imageNames" size="1">
                {% for name in image_names %}
                    <option value={{ name }}>{{ name }}</option>
                {% endfor %}
            </select>
        {% else %}
            Upload an image first.
        {%endif%}
    </div>
    <button type="submit" name="button" value="agent_one">Agent RMSprop classification</button>
    <button type="submit" name="button" value="agent_two">Agent Adam classification</button>
</form>
</div>
