<div>
 {% load static %}
    {% if predicted_class and max_percentage %}
        <br>
        <span>Dein Bild </span>
        <br>
            <img src="{{ user_image }}">
        <br>
        {% if heatmap_path%}
            <br>
                <img src="{{ heatmap_path }}">
            <br>
        {% endif %}
        <span>gehört zur folgenden Meme Kategorie</span>
        <br>
        <span>{{ predicted_class }}</span>
        <br>
        <img src="{% static predicted_class_image_path %}">
        <br>
        <span>Dein Bild stimmt zu {{ max_percentage }}% mit dem Meme Template überein</span>
    {% endif %}
    <br>
</div>
<form action="{% url 'main:classify_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3> Classifiy Image</h3>
    <div class="fieldWrapper">
        <label>Select Image to be classified</label>
        <br>
        {% if image_names|length != 0 %}
            <select name="imageNames" size="1">
                {% for name in image_names %}
                    <option value={{ name }}>{{ name }}</option>
                {% endfor %}
            </select>
        {% else %}
            Bitte erst ein Bild hochladen
        {%endif%}
    </div>
    <br>
    <button type="submit" name="button" value="agent_one">Agent 1 Klassifizierung</button>
    <button type="submit" name="button" value="agent_two">Agent 2 Klassifizierung</button>
</form>
