<form action="{% url 'main:delete_images' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <h3>Uploaded Images</h3>
        <ul id="uploaded-images-list">
        {% for name in image_names%}
        <li>
            <input class="checkbox" type="checkbox" name="deleteImageBox" value="{{ name }}">
            <label>{{ name }}</label>
        </li>
        {% endfor %}
        </ul>
        <button class="delete" type="submit">Delete</button>
    </div>
    <br>
</form>