<div class="flex-box-content box-card-style">
<form action="{% url 'main:save_new_user_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Upload your images</h3>
    {{ upload_image_form.non_field_errors }}
    <div class="fieldWrapper">
        <label>Image name:</label>
        {{ upload_image_form.name }}
    </div>
    <div class="fieldWrapper">
        <label>Image:</label>
        {{ upload_image_form.image }}
    </div>
    <button type="submit" value="Upload">Upload</button>
</form>
</div>